<h2 class="text-center">Ejemplo con ngSwitch</h2>
<section class="container p-3">
  <section class="row">
    <p class="fw-bolder">
      Ingrese el primer valor: <input [(ngModel)] = "num1" type="number">
    </p>
    <p class="fw-bolder">
      Ingrese el segundo valor: <input [(ngModel)] = "num2" type="number">
    </p>
  </section>
  <section>
    <p>
      <select [(ngModel)] = "operacion" class="fw-bolder">
        <option value="ninguna">Elija una opcion</option>
        <option value="suma">Suma</option>
        <option value="resta">Resta</option>
        <option value="multi">Multiplicar</option>
        <option value="div">Dividir</option>
      </select>
    </p>
  </section>
  <section>
    <span class="fw-bolder">Resultado: </span>
    <span [ngSwitch] = "operacion">
      <span *ngSwitchCase="'suma'" [ngStyle]="{'color': 'blue'}" class="fw-bolder">{{num1 + num2}}</span>
      <span *ngSwitchCase="'resta'" [ngStyle]="{'color': 'fuchsia'}" class="fw-bolder">{{num1 - num2}}</span>
      <span *ngSwitchCase="'multi'" [ngStyle]="{'color': 'green'}" class="fw-bolder">{{num1 * num2}}</span>
      <span *ngSwitchCase="'div'" [ngStyle]="{'color': 'purple'}" class="fw-bolder">{{num1 / num2}}</span>
      <span *ngSwitchDefault [ngStyle]="{'color': 'red'}"> (No eligió operacion) </span>
    </span>
  </section>
</section>


